.adminpopup {
    display: flex;
    background-color: White;
    justify-content: stretch;
    flex-direction: column;
    width: 50vw;
    height: 60vh;
    border-radius: 25px;
    border-style: solid;
    border-color:  #CC8F00;
    border-width: 10px;
    position: absolute;
    top: 24%;
    left: 25%;
}

.popupheader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.sub-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Add Users CSS*/
.Demote-Promote-Button 
{
    background-color:#CC8F00;
    border-style: solid;
    border-color: black;
    color: white;
    font-weight: bold;
    font-size: 150%;
    width: 8vw;
    height: 5vh;

}

/*Existing Users CSS*/
.existinglist {
    font-size: 15px;
    border-radius: 5px; 
    border-style: solid;
    border-color:  #CC8F00;
    border-width: 4px;
    height: 20vh;
}
.emails {
    color: black;
}

/*EXIT CSS*/
.exit-button-section  {
    border-radius: 5px; /*change depending on end format*/
    border-style: solid;
    border-color:  #CC8F00;
    border-width: 4px;
    width: 3vw;
    height: 5vh;
    background-color: white;
    color: #CC8F00;
}

