.adminpopup {
    display: flex;
    background-color: White;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 60vh;
    border-radius: 25px;
    border-style: solid;
    border-color:  #CC8F00;
    border-width: 10px;
    position: absolute;
    top: 24%;
    left: 25%;
}
